bind 0.0.0.0 
sentinel announce-ip {{ inventory_hostname }}
sentinel monitor mymaster {{ groups['master'] | first }} 6379 2
sentinel auth-pass mymaster {{ REDIS_PASSWORD }}
sentinel down-after-milliseconds mymaster 3000
sentinel failover-timeout mymaster 6000
sentinel resolve-hostnames yes
sentinel announce-hostnames yes
